.share_modal {
  background: #333A47;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px 1px rgba(0, 42, 81, 0.1);
  box-shadow: 0 2px 8px 1px rgba(0, 42, 81, 0.1);
  left: 50%;
  max-width: calc(100% - 30px);
  padding: 15px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 616px;
  z-index: 102;

  &__close {
    height: 15px;
    width: 15px;
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 15px;

    &::before {
      background-color: #E8E9EA;
      content: '';
      height: 100%;
      width: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: background-color 0.2s ease-in-out;
      -webkit-mask: url(/img/close-small.svg) no-repeat 50% 50%;
      mask: url(/img/close-small.svg) no-repeat 50% 50%;
    }

    &:hover::before {
      transition: background-color 0.2s ease-in-out;
      background-color: #9466FF;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    color: #E8E9EA;
    font-size: 1.125rem;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
  }
}
