* {
  box-sizing: border-box;
}

body {
  font-family: Rostelecom Basis;
  font-weight: 400;
  background-color: #1D2533;
  color: #E8E9EA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #9466FF;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #70F;
}

.container {
  max-width: 1535px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.slick-slide {
  margin: 0 9px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.opacity-0 {
  opacity: 0;
}

.duration {
  transition-duration: 2s;
}

.site-title {
  margin: 0;
  margin-bottom: 40px;
  color: #E8E9EA;
  font-size: 42px;
  font-weight: 700;
}

.header__search-overlay,
.quick-view-modal-overlay,
.size-table-overlay,
.auth-overlay {
  background: #16181b;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.header__search-overlay.overlay-active,
.quick-view-modal-overlay.overlay-active,
.size-table-overlay.overlay-active,
.auth-overlay.overlay-active {
  opacity: 0.6;
  visibility: visible;
}

.header__search-overlay.overlay-active {
  z-index: 101;
}

.quick-view-modal-overlay.overlay-active {
  z-index: 2;
}

.auth-overlay.overlay-active, .size-table-overlay.overlay-active {
  z-index: 100;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.swiper-slide-shadow-coverflow {
  background-image: none !important;
}

.swiper-slide-active .hero-slide-plus {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #70F;
  left: 125px;
  top: 45%;
  background-image: url('/img/plus-big.svg');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.swiper-slide-active .hero-slide-plus::after {
  content: '';
  position: absolute;
  width: 45px;
  border-radius: 50%;
  height: 45px;
  border: 2px solid #70F;
  left: -5px;
  top: -5px;
}

.sizes-table-btn {
  color: #16D9A6;
  font-size: 14px;
  text-decoration-line: underline;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.06);
  min-height: 45px;
}

.counter button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.counter button {
  position: relative;
  height: 22px;
  width: 24px;
}

.counter button::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.counter button:first-child:before {
  -webkit-mask: url(/img/minus.svg) no-repeat 50% 50%;
  mask: url(/img/minus.svg) no-repeat 50% 50%;
}

.counter button:last-child:before {
  -webkit-mask: url(/img/plus.svg) no-repeat 50% 50%;
  mask: url(/img/plus.svg) no-repeat 50% 50%;
}

.counter button:hover::before {
  transition: background-color 0.2s ease-in-out;
  background-color: #9466FF;
}

.counter span {
  color: rgba(255, 255, 255, 0.90);
  font-size: 16px;
  font-weight: 400;
}

.not-empty {
  content: '';
  position: absolute;
  top: 9px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: #FF0C0C;
  border-radius: 50%;
}

.not-empty-mobile {
  top: 12px;
  right: 15px;
}

.not-empty-mobile-favorite {
  top: 12px;
  right: 25px;
}

.quick-modal-dots li.slick-active button {
  background-image: url(/img/white-ellipse.svg) !important;
}

@media (max-width: 1460px) {
  .swiper-slide-active .hero-slide-plus {
    left: 105px;
  }
}

@media (max-width: 990px) {
  .swiper-slide-active .hero-slide-plus {
    left: 75px;
  }
}

@media (max-width: 760px) {
  .swiper-slide-active .hero-slide-plus {
    top: 6%;
    left: 195px;
  }
}

.swiper-slide-active .slide-popup {
  opacity: 1;
  visibility: visible;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/Rostelecom-Basis-Bold.woff') format("woff");
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/Rostelecom-Basis-Medium.woff') format("woff");
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Rostelecom-Basis-Regular.woff') format("woff");
}

.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}

.catalog-pagination-prev.disabled, .catalog-pagination-next.disabled {
  display: none;
}

.catalog-pagination-item.selected {
  background-color: #9466FF;
}

.catalog-pagination-item:hover.selected a {
  background-color: #9466FF;
}
