.modal-search-input {
  width: 85% !important;
}

@media (max-width: 1220px) {
  .modal-search-input {
    width: 70% !important;
  }
}

@media (max-width: 940px) {
  .modal-search-input {
    width: 100% !important;
  }
}

.delivery-search-input {
  background: transparent !important;
}

@media (max-width: 580px) {
  .delivery-search-input {
    margin-top: 8px !important;
  }
}

.delivery-search-input .tt-search-box-input-container {
  display: block;
  position: relative;
  border: none;
  padding: 0;
}

.delivery-search-input .tt-search-box-input-container.-focused {
  box-shadow: none
}

.delivery-search-input .tt-search-box-input-container div:first-child svg {
  display: none;
}

.delivery-search-input input {
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.06);
  background-image: url('/img/search-icon.svg');
  background-repeat: no-repeat;
  background-position: left 15px center;
  padding: 0 45px;
  color: #F1F3F5;
}

@media (max-width: 580px) {
  .delivery-search-input input {
    height: 32px;
  }
}

.delivery-search-input .tt-search-box-close-icon {
  position: absolute;
  right: 20px;
  top: 18px;
}

@media (max-width: 580px) {
  .delivery-search-input .tt-search-box-close-icon {
    top: 10px;
  }
}

.delivery-search-input .tt-searchbox-filter-label {
  position: absolute;
  left: 45px;
  top: 10px;
  z-index: 1;
  background-color: #333a47 !important;
  color: #F1F3F5 !important;
}

.delivery-search-input .tt-search-box-result-list-container {
  top: 55px;
  background-color: #333a47 !important;
  border-radius: 16px;
}

.delivery-search-input .tt-search-box-result-list {
  background-color: #333a47 !important;
  color: #F1F3F5 !important;
}

.delivery-search-input .tt-search-box-result-list.-highlighted {
  color: #333a47 !important;
}

.delivery-search-input .tt-search-box-result-list-bold {
  color: #F1F3F5 !important;
}

.delivery-search-input .tt-search-box-result-list.-highlighted .tt-search-box-result-list-bold {
  color: #333a47 !important;
}

.map-marker, .modal-map-marker {
  background-image: url("/img/map-marker.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  height: 70px;
}
