.search-modal {
  min-width: 850px;
  height: 570px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333A47;
  padding: 24px;
  z-index: 101;
}

@media (max-width: 940px) {
  .search-modal {
    min-width: auto;
    width: 700px;
  }
}

@media (max-width: 780px) {
  .search-modal {
    width: 530px;
  }
}

@media (max-width: 590px) {
  .search-modal {
    width: 370px;
    padding: 12px;
  }
}

@media (max-width: 420px) {
  .search-modal {
    width: 300px;
  }
}

.search-modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url(/img/close-small.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 590px) {
  .search-modal__close {
    top: 12px;
    right: 12px;
  }
}

.search-modal__title {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

.search-modal__top {
  margin-bottom: 24px;
  overflow: hidden;
}

.search-modal__label {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search-modal__input {
  width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.06);
  height: 48px;
  padding-left: 20px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.90);
  padding-top: 18px;
}

.search-modal__floating_label {
  position: absolute;
  left: 20px;
  top: 12px;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.40);
  transition: top .2s ease-in-out, font-size .2s ease-in-out, color .2s ease-in-out;
}

.search-modal__input.with_value + .search-modal__floating_label {
  top: 4px;
  bottom: 10px;
  font-size: 12px;
  transition: top .2s ease-in-out, font-size .2s ease-in-out, color .2s ease-in-out;
  color: #9466FF;
}

.search-modal__links {
  display: flex;
  width: 800px;
  overflow: auto;
  padding-bottom: 10px;
}

@media (max-width: 940px) {
  .search-modal__links {
    width: 650px;
  }
}

@media (max-width: 780px) {
  .search-modal__links {
    width: 480px;
  }
}

@media (max-width: 590px) {
  .search-modal__links {
    width: 340px;
  }
}

@media (max-width: 420px) {
  .search-modal__links {
    width: 260px;
  }
}

.search-modal__links::-webkit-scrollbar {
  height: 8px;
}

.search-modal__links::-webkit-scrollbar-track {
  background-color: transparent;
}

.search-modal__links::-webkit-scrollbar-thumb {
  background-color: #9466FF;
  border-radius: 3px;
}

.search-modal__links::-webkit-scrollbar-thumb:hover {
  background-color: #70F;
}

.search-modal__links li:not(:last-child) {
  margin-right: 10px;
}

.search-modal__links li a {
  width: max-content;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color: #9466FF;
  color: #D9D9D9;
  transition: background-color .2s ease-in-out;
}

@media (max-width: 590px) {
  .search-modal__links li a {
    font-size: 14px;
    padding: 5px;
  }
}

.search-modal__links li a:hover {
  transition: background-color .2s ease-in-out;
  background-color: #70F;
}

.search-modal__results {
  height: 250px;
  overflow: auto;
}

@media (max-width: 780px) {
  .search-modal__results {
    height: 270px;
  }
}

@media (max-width: 590px) {
  .search-modal__results {
    height: 310px;
  }
}

.search-modal__results::-webkit-scrollbar {
  width: 8px;
}

.search-modal__results::-webkit-scrollbar-track {
  background-color: transparent;
}

.search-modal__results::-webkit-scrollbar-thumb {
  background-color: #9466FF;
  border-radius: 3px;
}

.search-modal__results::-webkit-scrollbar-thumb:hover {
  background-color: #70F;
}

.search-modal__results__item {
  transition: background-color .2s ease-in-out;
}

.search-modal__results__item:hover {
  transition: background-color .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.06);
}

.search-modal__results__item__link {
  color: inherit;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: stretch;
}

@media (max-width: 420px) {
  .search-modal__results__item__link {
    padding: 5px;
  }
}

.search-modal__results__item__left {
  width: 100px;
  margin-right: 10px;
  height: 100px;
}

.search-modal__results__item__img {
  object-fit: contain;
  background: radial-gradient(52.53% 52.53% at 50% 47.47%, #4E5D77 0%, rgba(42, 50, 63, 0.00) 100%), #2A323F;
  width: 100%;
  height: 100%;
}

.search-modal__results__item__inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 590px) {
  .search-modal__results__item__inner {
    flex-direction: column;
  }
}

.search-modal__results__item__inner p {
  margin: 0;
  min-width: max-content;
}
