.password_restore {
  padding-top: 40px;
  padding-bottom: 20px;

  &__title {
    text-align: center;

    @media (max-width: 560px) {
      font-size: 32px;
    }
  }

  &__spinner {
    text-align: center;
  }

  &_form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__title {
      margin: 0;
      margin-bottom: 16px;
      text-align: center;

      @media (max-width: 560px) {
        font-size: 22px;
      }

      span {
        color: #9466FF;
      }
    }

    &__label {
      position: relative;
    }

    &__warn {
      position: absolute;
      top: 4px;
      right: 20px;
      color: #FF4747;
      font-size: 12px;
    }

    &__input {
      width: 100%;
      margin-bottom: 16px;
      border-radius: 24px;
      padding: 4px 16px 4px 20px;
      height: 48px;
      background-color: #2a323f;
      border: none;
      color: #F1F3F5;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    &__btn {
      background-color: #9466FF;
      color: #F1F3F5;
      border-radius: 24px;
      transition: background-color .2s ease-in-out;
      height: 48px;

      &:hover {
        background-color: #70F;
        transition: background-color .2s ease-in-out;
      }
    }
  }
}
