.profile {
  padding-top: 40px;
  padding-bottom: 40px;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inner {
    width: 420px;

    @media (max-width: 490px) {
      width: 100%;
    }
  }

  &__photo {
    background-color: rgba(245, 235, 235, 0);
    background-image: url(/img/add-photo.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    height: 207px;
    margin: 0 auto;
    opacity: 0.2;
    -webkit-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
    width: 207px;
    margin-bottom: 40px;
  }

  &__photo:hover {
    opacity: 1;
  }

  &__photo input {
    opacity: 0;
    visibility: hidden;
    width: 5px;
    height: 5px;
  }

  &__info {
    min-height: 80px;
    border-bottom: 1px solid #E8E9EA;
    display: flex;
    align-items: center;

    &__main {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      margin-right: 10px;
      color: #E8E9EA;
      font-size: 18px;
    }

    &__edit {
      position: relative;
      width: 30px;
      height: 30px;

      &::before {
        background-color: #96989a;
        content: '';
        height: 25px;
        width: 25px;
        left: 3px;
        position: absolute;
        top: 2px;
        -webkit-mask: url(/img/edit.svg) no-repeat 50% 50%;
        mask: url(/img/edit.svg) no-repeat 50% 50%;
        transition: background-color 0.2s ease-in-out;
      }

      &:hover::before {
        transition: background-color 0.2s ease-in-out;
        background-color: #E8E9EA;
      }
    }

    &__inner {
      position: relative;
      display: flex;
      align-items: stretch;
      width: 100%;
      justify-content: space-between;

      & button {
        color: #E8E9EA;
        padding: 5px;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    &__warn {
      position: absolute;
      top: 30px;
      color: #FF4747;
      font-size: 14px;
      left: 0;
    }

    &__input {
      width: 100%;
      margin-right: 15px;
      font-size: 18px;
      color: #E8E9EA;
      border: none;
      background-color: transparent;
    }

    &__actions {
      position: relative;
      display: flex;
      align-items: center;
    }

    &__save {
      position: relative;
      width: 30px;
      height: 30px;

      &::before {
        background-color: #26DA72;
        content: '';
        height: 25px;
        width: 25px;
        left: 3px;
        position: absolute;
        top: 2px;
        -webkit-mask: url(/img/save-icon.svg) no-repeat 50% 50%;
        mask: url(/img/save-icon.svg) no-repeat 50% 50%;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &__save_spinner {
      &::before {
        content: none;
      }
    }

    &__close {
      width: 24px;
      height: 24px;
      background-image: url(/img/close-small.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__code {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;

    &__label {
      font-size: 18px;
      color: #E8E9EA;
    }

    &__inputs {
      input {
        padding-left: 10px;
        width: 30px;
        margin-right: 5px;
        font-size: 18px;
        color: #E8E9EA;
        border: 1px solid #96989a;
        background-color: transparent;
      }
    }
  }

  &__avatar {
    position: relative;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__edit {
      position: absolute;
      top: 0;
      right: 0;
    }

    img {
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
  }

  &__actions {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 380px) {
      flex-direction: column;
    }

    button {
      position: relative;
      padding: 10px;
      color: #E8E9EA;
      font-size: 18px;
      transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;

      &:first-child {
        @media (max-width: 380px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__delete {
    width: 193px;
    height: 47px;
    background-color: #FF4747;

    &:hover {
      transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
      background-color: red;
      box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.20), 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    }
  }

  &__logout {
    background-color: #9466FF;

    &:hover {
      transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
      background-color: #70F;
      box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.20), 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    }
  }
}
