.comparison {
  padding-bottom: 40px;

  &_main_links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 32px;
    min-height: 300px;

    li {
      position: relative;
      height: 300px;
      border: 1px solid #565C66;
      transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;

      &:hover {
        transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
        background-color: #3D4555;
        box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.20), 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #F1F3F5;
        font-size: 22px;
        font-weight: 500;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }

    &__empty {
      height: 300px;
      background-image: url('/img/comparison-icon.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 300px
    }
  }

  &_links {
    display: flex;
    align-items: start;
    margin-bottom: 40px;
    overflow-x: scroll;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9466FF;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #70F;
    }

    li {
      padding: 10px;
      position: relative;
      border: 1px solid #565C66;
      transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
      min-width: max-content;

      &.active {
        background-color: #3D4555;
      }

      &:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 10px;
      }

      &:hover {
        transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
        background-color: #3D4555;
      }
    }

    a {
      display: block;
      color: #F1F3F5;
      font-size: 18px;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      & span:first-child {
        margin-right: 16px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: stretch;
    overflow-x: scroll;
    padding-bottom: 32px;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9466FF;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #70F;
    }

    &__item {
      position: relative;
      border: 1px solid #565C66;
      padding: 15px;
      min-width: 478px;

      @media (max-width: 730px) {
        min-width: 289px;
        width: 289px;
      }

      &:not(:last-child) {
        margin-right: 32px;

        @media (max-width: 730px) {
          margin-right: 16px;
        }
      }

      &__delete {
        position: absolute;
        right: 15px;
        top: 15px;
        height: 24px;
        width: 24px;

        & span::before {
          background-color: #A5A8AD;
          content: '';
          height: 100%;
          width: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transition: background-color 0.2s ease-in-out;
          -webkit-mask: url(/img/trash.svg) no-repeat 50% 50%;
          mask: url(/img/trash.svg) no-repeat 50% 50%;
        }

        &:hover span::before {
          transition: background-color 0.2s ease-in-out;
          background-color: #FF0C0C;
        }
      }

      &__cart {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 150px;
        right: 15px;

        & span::before {
          background-color: #A5A8AD;
          content: '';
          height: 100%;
          width: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transition: background-color 0.2s ease-in-out;
          -webkit-mask: url(/img/cart-plus.svg) no-repeat 50% 50%;
          mask: url(/img/cart-plus.svg) no-repeat 50% 50%;
        }

        &:hover span::before {
          transition: background-color 0.2s ease-in-out;
          background-color: #26da72;
        }
      }

      &__cart_added {
        &::before {
          background-color: #26da72;
          content: '';
          height: 100%;
          width: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transition: background-color 0.2s ease-in-out;
          -webkit-mask: url(/img/cart-checked.svg) no-repeat 50% 50%;
          mask: url(/img/cart-checked.svg) no-repeat 50% 50%;
        }
      }

      &__img {
        margin-bottom: 15px;
        text-align: center;
        background: radial-gradient(52.53% 52.53% at 50% 47.47%, #333A47 0%, rgba(29, 37, 51, 0.00) 100%);

        img {
          object-fit: contain;
        }
      }

      &__inner_list {
        &__item {
          border: 1px solid #565C66;
          padding: 10px;
          color: #F1F3F5;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          & span:first-child {
            margin-right: 10px;
          }

          & span:last-child {
            text-align: end;
          }
        }
      }
    }
  }
}

.empty_bg {
  background-image: url('/img/empty-comparison-page.png');
}
